# Add an additonal allowed host for ngrok (to receive polar webhooks locally)
__VITE_ADDITIONAL_SERVER_ALLOWED_HOSTS=your-ngrok-host

DATABASE_URL="file:./prisma/dev.db"
QUEUE_DATABASE_PATH="./prisma/queue.db"

RESEND_API_KEY=your-resend-api-key

BETTER_AUTH_SECRET=your-secret-key
GOOGLE_CLIENT_ID=your-client-id
GOOGLE_CLIENT_SECRET=your-client-secret

STRIPE_PUBLIC_KEY=your-public-key
STRIPE_SECRET_KEY=your-secret-key
STRIPE_WEBHOOK_SECRET=your-webhook-secret

POLAR_API_KEY=your-api-key
POLAR_WEBHOOK_SECRET=your-webhook-secret

# Healthcheck token for fly.io, IMPORTANT: update this value in fly.toml
HEALTH_TOKEN=your-health-token

TELEGRAM_BOT_TOKEN=your-token
TELEGRAM_CHAT_ID=your-chat-id
TELEGRAM_NOTIFICATIONS_ENABLED=true
